
body {
  	height: 90vh;
  	width: 100%;
  	margin: 0;
  	padding: 0;
  	font-family: 'Abel';
  	background: linear-gradient(-45deg, rgba(72,181,239,1) 11.2%, rgba(73,52,236,1) 100.2% );
  	background-size: 200% 200%;  	
}


#input {
	overflow-x: auto;
	overflow-y: hidden; 
    white-space: nowrap;
    height: 10%;
	width: 92%;
	float: left;
	background-color: black;
	opacity: 0.7;
 	color: white;
 	font-size: 5vmin;
  	line-height: 10vh;	
  	padding: 2% 4%; 
  } 

.flexbox-container {
	height: 90%;
	width: 100%;
	display:flex;
	justify-content: center;
}

.flexbox-item {
	padding: 3%;
}

.btn {
	padding: 0.15%;
	width: 33%;  
	float: left; 
	color: white;
	text-align: center;
	font-size: 5vmin;
	line-height: 7vh;
	cursor: pointer;

}

.btn:hover {
	background-color: rgba(230, 230, 230, 0.3);
}


